name: Release code

on:
  push:
    tags:
     - "*"

jobs:
  build:
    name: Build and release artifact
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      fail-fast: false 
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v1
        with:
          python-version: '3.10'
      - name: Run image
        uses: abatilo/actions-poetry@v2.0.0
        with:
          poetry-version: 1.3.2
      - name: build
        run: poetry build
      - name: Create GitHub release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            dist/*.whl
            dist/*.tar.gz
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
